
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

html,
body {
	background-color: #D6D3C8;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

h2 {
	text-align: center;
}

.row {
	display:block;
}

.container {
	display:grid;
	background-color: #D6D3C8;
	width: 100%;
}

/* ----------------------------------------------- */
/* HEADINGS */
/* ----------------------------------------------- */

h1 {
	margin: 0;
	height: 60px;
	color: #6A768E;
	font-size: 55px;
	text-align: left;
	line-height: 70px;
	padding: 5px;
	background-color: #D6D3C8;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
	display:block;
	height:12vh;
	background-color: #D6D3C8;
	color: white;
	text-align: center;
	padding: 20px 10px;
	font-size: 30px;
}

.header-left {
	float:left;
}

.header-right {
	float:right;
}

.clearUL ul {
	position: relative;
	list-style-type:none;
	font-size:30px;
}

.clearUL li {
	margin-right:20px;
}

.clearUL li.align{
	float:left;
}

/* ----------------------------------------------- */
/* NAVBAR */
/* ----------------------------------------------- */

#navbar {
	background-color:#9FAFCE;
}

.nav-item {
	font-size: 20px;
}

.navbar-brand {
	font-size: 20px;
}

.navbar-default {
    background-color: #9FAFCE; /* alternatives? #8aa5d8 #91b0ea */
    border-color: #9FAFCE;
}

.alert {
    width: 23%;
}

/* ----------------------------------------------- */
/* INDEX */
/* ----------------------------------------------- */

.container-index {
	display:grid;
	grid-template-columns: 33.333% 33.333% 33.333%;
	
}

.container-index .col {
	position: relative;
}

/* ----------------------------------------------- */
/* SEARCH RESULTS */
/* ----------------------------------------------- */

.search-results p {
	text-align:center;
}

.search-results ul {
	width:600px;
	height:400px;
	border:3px solid black;
	box-sizing:border-box;
	margin:auto;
	background-color: #9FAFCE;
}

.search-results li {
	font-size:25px
}

/* ----------------------------------------------- */
/* GEMS */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* ADD_GEM */
/* ----------------------------------------------- */

.add_gem h3 {
	text-align:center;
}

.add_gem form {
	padding-left:150px;

}

/* ----------------------------------------------- */
/* LOG_IN */
/* ----------------------------------------------- */

.log_in {
	margin: 0 auto;
	width:250px;
}

.log_in p {
	text-align:center;
}

.log_in {

}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

#footer {
	clear: both;
	padding: 10px;
	background-color: #D6D3C8;
	color: white;
	text-align:center;
	
}