
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

html {
	background-color: #D6D3C8;
	font-family:'Source Sans Pro';
	margin: 0;
}

body {
	background-color: #D6D3C8;
}


/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

h2 {
	text-align: center;
}

.container-fluid {
	display:flex;
	background-color: #D6D3C8;
	width:50%;
}

.container {
	width: 100%;
	justify-content: center;
}

img { 
	width:100%;
}

/* ----------------------------------------------- */
/* HEADINGS */
/* ----------------------------------------------- */

h1 {
	font-family:'Anton';
	margin: 0;
	height: 60px;
	color: #6A768E;
	font-size: 55px;
	text-align: left;
	line-height: 70px;
	padding: 5px;
	background-color: #D6D3C8;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
	display:flex;
	background-color: #D6D3C8;
	color: black;
	font-size: 30px;
	padding-bottom:30px;
	width:100%;
}

.header_img {
	width:15%;
}

.header-left {
	float:left;
}

.header-right {
	float:right;
}

.header-right li a {
	color: blue;
}

.clearUL ul {
	position: relative;
	list-style-type:none;
	font-size:30px;
}

.clearUL li {
	margin-right:20px;
}

.clearUL li.align{
	float:left;
}
/* ----------------------------------------------- */
/* NAVBAR */
/* ----------------------------------------------- */

nav {
	display:inline-block;
}
#navbar {
	background-color:#9FAFCE;
}

.nav-item {
	font-size: 20px;
}

.navbar-brand {
	font-size: 20px; 
}

.navbar a{
	margin: 5px;
}

.navbar-default {
    background-color: #9FAFCE; /* alternatives? #8aa5d8 #91b0ea */
    border-color: #9FAFCE;
    
}

.alert {
    width: 23%;
 
}

.nav-search {
	float:right;
	background-color:#9FAFCE;
	color:black;
	padding-top: 15px;
}

#search-button {
	box-sizing:border-box;
	border:1px solid black;
	background-color:#9FAFCE;
	color:black;
}

#search-button-nav {
	box-sizing:border-box;
	border:1px solid black;
	background-color:#D6D3C8;
	color:black;
}


/* ----------------------------------------------- */
/* INDEX */
/* ----------------------------------------------- */

.most_liked {
	background-color: #9FAFCE;
	margin: 10px;
	box-shadow: 0 0 5px #333;
}

.most_liked li a {
	color: black;
	text-decoration: underline;
}

.most_recent li a {
	color: black;
	text-decoration: underline;
}

.most_recent {
	background-color: #9FAFCE;
	margin: 10px;
	box-shadow: 0 0 5px #333;
}

.search_container_index {
	text-align:center;
}

.col_search {
	display:inline-block;
}

/* ----------------------------------------------- */
/* SEARCH */
/* ----------------------------------------------- */

.search {
	margin: 10px;
}

.search_container{
	text-align: center;
}


/* ----------------------------------------------- */
/* SEARCH RESULTS */
/* ----------------------------------------------- */

.search-results p {
	text-align:center;
}

.search-results ul {
	width:600px;
	height:auto;
	max-height:400px;
	border:3px solid black;
	box-sizing:border-box;
	margin:auto;
	background-color: #9FAFCE;
	overflow:auto;
}

.search-results li {
	font-size:25px
}

/* ----------------------------------------------- */
/* GEMS */
/* ----------------------------------------------- */

.gem_info {
	background-color: #9FAFCE;
	margin: 10px;
	box-shadow: 0 0 5px #333;
	width:auto;
	height:auto;
	max-height:356px;
	overflow:auto;
}

.gem_info li {
	list-style: none;
}

.comments {
	background-color: #9FAFCE;
	margin: 10px;
	box-shadow: 0 0 5px #333;
	width:auto;
	height:auto;
	max-height:300px;
	overflow:auto;
}

#report {
	float:right;
	margin: 10px;
	box-shadow: 0 0 5px #333;
	width:auto;
	height:auto;
}

.gem_image p {
	text-align:center;
}


/* ----------------------------------------------- */
/* ADD_GEM */
/* ----------------------------------------------- */

.add_gem h3 {
	text-align: center;
}


/* ----------------------------------------------- */
/* MAP */
/* ----------------------------------------------- */

#mapid {
    width: 540px;
    height: 300px;
}

/* ----------------------------------------------- */
/* LOG_IN */
/* ----------------------------------------------- */

.log_in {
	margin: 0 auto;
	width:30%;
}

.log_in p {
	text-align:center;
}

.log_in_button {
	display: flex; 
	justify-content: center;
}

input[type=submit] {
	background-color:#9FAFCE;
	color:black;
	padding: 10px 20px;
}

/* ----------------------------------------------- */
/* SIGN_UP */
/* ----------------------------------------------- */

.sign_up_form {
	margin: 0 auto;
	width:40%;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

#footer {
	clear: both;
	padding: 10px;
	background-color: #D6D3C8;
	color: white;
	text-align:center;
	margin: 10px;
}
.footer_container {
	text-align: center;	
}

/* Popup container - can be anything you want */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: blue;
	text-decoration: underline;
}

/* The actual popup */
.popup .popuptext {
	display: inline-block;
	visibility: hidden;
	width: 250px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 0%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}
