{% extends 'gems/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Gem
{% endblock %}

{% block body_block %}
    <div class="add_gem">
        <br>
        <h3>Add a new Gem!</h3>
        <div id="add_gem_form">
            <form id="gem_form" enctype="multipart/form-data" method="post" action="{% url 'add_gem' %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    <!-- helps to debug form validation, just for reference, delete later
                    {% if hidden.errors %}
                        {{ hidden.errors }}
                        {{ hidden.name }}
                    {% endif %} -->
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}<br>
                {% endfor %}
                
                <div id="mapid">
                    <script type="text/javascript" src="{% static 'js/map-showmap.js' %}"></script>
                    <script type="text/javascript" src="{% static 'js/map-addmarker.js' %}"></script>
                </div>
                
                <input type="submit" name="submit" value="Add Gem" />
            </form>
        </div>
    </div>
{% endblock %}