<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'queries.css' %}">
       
        <!--To expand dropdown-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <!--like button-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'js/glasgowgems-jquery.js' %}"></script>
        <script src="{% static 'js/glasgowgems-ajax.js' %}"></script>
        
        <!--modal-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
        <!--contact us popup-->
        <script src="{% static 'js/contact-us-popup.js' %}"></script>
        
        <!-- Leaflet css and js -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
        <!-- Make sure to put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>


        
        <title>
            Glasgow Gems - 
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>
        <header>
            <div class="header">
                <div class="header-left">
                    <h1>Glasgow Gems
                    <img src="{% static 'images/logo.png' %}" alt="Glasgow Gems Logo" class="header_img"/>
                    </h1>
                </div>
                <div class="header-right">
                    <div class="clearUL">
                        <ul>
                            {% if user.is_authenticated %}
                                <li>Logged in as: {{ user.username }}</li>
                                <li class="align"><a href="{% url 'profile' user.username %}">Profile</a></li>
                                <li class="align"> - </li>
                                <li class="align"><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                                <li class="align"><a href="{% url 'login' %}">Log In</a></li>
                                <li class="align">Or</li>
                                <li class="align"><a href="{% url 'sign_up' %}">Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        
        <nav class="navbar navbar-expand-lg navbar-light navbar-default"> <!-- navbar-default from our CSS --> <!-- DEFAULT COLOURS <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> -->
            <a class="navbar-brand" href="{% url 'index' %}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories<span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if categories %}
                        {% for category in categories %}
                        <a class="dropdown-item" href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
                        {% endfor %}
                    {% else %}
                        There are no categories present.
                    {% endif %}
                    </div>
                </li>
                
                <!--
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled - just to demonstrate</a>
                </li>
                -->
                
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'add_gem' %}">Add a Gem<span class="sr-only">(current)</span></a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Log In to Add a Gem<span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
                </ul>
                {% url 'index' as index %}
                {% if request.path != index %}
                
                <div class="nav-search">
                    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search_results' %}" id="search_button">
                            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search architecture" value='{{ request.GET.q }}' aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-button-nav">Search</button>
                    </form>
                </div>
                {% endif %}
                
                
                
            </div>
        </nav>
        
        

        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
        
        <div class="footer_container">
            <div class="popup" onclick="contact_us_popup()">Contact us
                <span class="popuptext" id="myPopup">Please send an email to adminteam@glasgowgems.com with any queries or questions.</span>
            </div>
        </div>
    </body>
</html>