<!DOCTYPE html>

<html>
    <head>
        <title>Glasgow Gems</title>
    </head>

    <body>
	<div>
	{% if category %}
		<h1>{{ category.name }}</h1>
		{% if gems %}
			<ul>
			{% for gem in gems %}
				<li><a href="{{ gem.url }}">{{ gem.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>No gems currently in category.</strong>
		{% endif %}
	{% else %}
		The specified category does not exist!
	{% endif %}
	</div>

	<a href="{% url 'index' %}">Home</a><br />

	<div>
		{% if category %}
		<a href="/category/{{category.slug}}/add_gem/">Add Gem</a> <br/>
        {% endif %}
	</div>

</body>
</html>