{% extends 'gems/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if gem %}
        {{ gem.name }}
    {% else %}
        No such gem
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if gem %}
        <br/><h2>{{ gem.name }}</h2><br/>
        <div class="container">
            <div class="row">
                <div class="col-md-6" style>
                    <div class="gem_image">
                        <img src="{{ MEDIA_URL }}{{ gem.image }}" alt="{{ gem.name }}"/>
                        <p>Source: {{ gem.image_source }}</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="gem_info">
                        <ul>
                            <li>Category: <a href="{% url 'show_category' gem.category.slug %}">{{ gem.category }}</a></li>
                            <li>Address: {{ gem.address }}</li>
                            <li>Description:<br>{{ gem.description }}</li>
                            
                        </ul>
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                            <button id ="likes" data-gemid="{{gem.id}}" class="btn btn-primary btn-sm" type="button">Like</button>
                        {% endif %}
                        <strong id="like_count">{{ gem.likes }}</strong> people like this gem.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div id="mapid">
                        <!-- Variables for using template tags in the external scripts -->
                        <script>
                            var gemName = "{{ gem.name }}";
                            var gemLatitude = {{ gem.latitude }}
                            var gemLongitude = {{ gem.longitude }}
                        </script>
                        <script type="text/javascript" src="{% static 'js/map-showmap.js' %}"></script>
                        <script type="text/javascript" src="{% static 'js/map-showmarker.js' %}"></script>
                    </div>
                </div>

                <div class="col-md-6">
                    <h3>Comments</h3>
                    <div class="comments">
                        {% for comment in comments %}
                            {{ comment.added_by }}: {{ comment.text }}<br>
                        {% endfor %}
                    </div>
                {% if user.is_authenticated %}
                    <div class="container">
                        <!-- Trigger the modal with a button -->
                        <button type="button" data-gemid="{{gem.id}}"  class="btn btn-primary btn-lg" id="comments">Add a comment</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-body" style="padding:40px 50px;">
                                        <form role="form">
                                            <div class="form-group">
                                                <input type="text"  class="form-control" id="comment" placeholder="Enter comment">
                                            </div>
                                                <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-off"></span> Submit</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                {% endif %}
                
                </div>
            </div>
        </div>

    {% else %}
        The specified gem does not exist! 
    {% endif %}
<br/><br/>
{% endblock %}

