{% extends 'gems/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col most_liked">
                    <h2>Most Liked Gems</h2>
                    {% if most_liked_gems %}
                        <ul>
                            {% for gem in most_liked_gems %}
                                <li><a href="{% url 'show_gem' gem.category.slug gem.slug %}">{{ gem.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <strong>No gems currently in index.</strong>
                    {% endif %}
                </div>
            </div>
            
            <div class="col-md-6">
                <h2>Search Glasgow's Architecture!</h2>
                <div class="search_container_index">
                    <div class="col_search">
                        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search_results' %}">
                            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search architecture" value='{{ request.GET.q }}' aria-label="Search">
                        </form>
                        <br/>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-button">Search</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col most_recent">
                    <h2>Most Recent Gems</h2>
                    {% if most_recent_gems %}
                        <ul>
                            {% for gem in most_recent_gems %}
                                <li><a href="{% url 'show_gem' gem.category.slug gem.slug %}">{{ gem.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <strong>No gems currently in index.</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
