<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Glasgow Gems - Home</title>
  </head>
  <body>

    <!-- needed for the expanding of menu, not sure which one, need to test -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if categories %}
            {% for category in categories %}
            <a class="dropdown-item" href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
            {% endfor %}
        {% else %}
            There are no categories present.
        {% endif %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_gem' %}">Add a Gem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled - just to demonstrate</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search architecture" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
    </nav>
      
<h1>Glasgow Gems</h1>
        <div>
            Sharing Glasgow's architectural gems<br/>
        </div>
        
        <div>
            <a href="{% url 'add_gem' %}">Add a Gem</a> <br/>
        </div>
        
        <div>
        <h2>Most Liked Gems</h2>
        {% if most_liked_gems %}
        <ul>
            {% for gem in most_liked_gems %}
                <li><a href="{% url 'show_gem' gem.category.slug gem.slug %}">{{ gem.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No gems currently in index.</strong>
        {% endif %}
        </div>
        
        <div>
        <h2>Most Recent Gems</h2>
        {% if most_recent_gems %}
        <ul>
            {% for gem in most_recent_gems %}
                <li><a href="{% url 'show_gem' gem.category.slug gem.slug %}">{{ gem.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No gems currently in index.</strong>
        {% endif %}
        </div>

        <div>
            <a href="{% url 'contact_us' %}">Contact us</a><br />
            <img src="{% static "images/necropolis_landscape.jpg" %}" alt="Necropolis Landscape"/>
        </div>
    
  </body>
</html>
