{% extends 'gems/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Log In
{% endblock %}

{% block body_block %}
    <div class="log_in">
        <br />
       
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="25" />
            <br /><br />
            Password: <input type="password" name="password" value="" size="25" />
            <br />
            <input type="submit" value="Enter" />
        </form>
        {% for message in messages %}
            <div class="alert alert-danger">
                <!-- <a class="close" href="#" data-dismiss="alert">X</a> -->
                {{ message }}
            </div>
        {% endfor %}
        
        <br />
        <p>Don't have an account?</p>
        <form action="{% url 'sign_up' %}">
            <input type="submit" value="Sign Up" />
        </form>
    </div>
    
{% endblock %}