{% extends 'gems/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Log In
{% endblock %}

{% block body_block %}
    <br /><br />
    <div class="log_in">
        <br />
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <p>Username: <input type="text" name="username" value="" size="25" />

            <br /><br />
            <p>Password: <input type="password" name="password" value="" size="25" /></p>
            <br /><br />

            <div class="log_in_button">
                <input type="submit" value="Enter" />
            </div>
            <br />
        </form>
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        
        <br />
        <p>Don't have an account?</p>
        <form action="{% url 'sign_up' %}">
            <div class="log_in_button">
                <input type="submit" value="Sign Up" />
            </div>
        </form>
    </div>
    
{% endblock %}