{% extends 'gems/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign Up
{% endblock %}

{% block body_block %}
    <br/><h2>Register for Glasgow Gems</h2><br/>
    {% if registered %}
        <strong>Thanks for registering! You can now log in.</strong>
    {% else %}
        <div class="sign_up_form">
            <form id="user_form" method="post" action="{% url 'sign_up' %}" 16 enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display Forms -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />

            </form>
        </div>
    {% endif %}
{% endblock %}